{% extends 'base.html' %}

{% block title %}Candidate Login{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <div class="card shadow-lg border-0 p-4">

                <h2 class="text-center mb-4">
                    Candidate Login
                </h2>

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            placeholder="Enter username"
                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter password"
                            required>
                    </div>

                    <button
                        type="submit"
                        class="btn btn-primary w-100">
                        Candidate Login
                    </button>
                </form>

                <div class="text-center mt-3">
                    <p>
                        Don't have an account?
                        <a href="{% url 'register' %}">
                            Register
                        </a>
                    </p>
                </div>

            </div>

        </div>
    </div>
</div>

{% endblock %}